*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    font-size: 1.1rem;
    color: white;
    transition: all .5s ease-in-out;
}
header{
    height: 70vw;
    color: white;
    overflow: hidden;
}
.main-title{
    text-align: center;
    margin-top: 5rem;
    margin-left: 50%;
}
.main-title h1{
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.main-title h1 span{
    color: rgb(0, 0, 180);
}
.main-title .title-line{
    position: relative;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    display: block;
}
.title-line::before,
.title-line::after{
    content: "";
    display: inline-block;
    border-top: 1px solid #000;
    width: 3em;
    vertical-align: middle;
    margin: 0 0.5em;
}
.parts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    margin-top: 3rem;
}
.parts .leftcali{
    display: flex;
    height: 100%;
    width: 100%;
}
.parts .leftcali .bcgleft{
    position: absolute;
    margin-top: -15rem;
    background-color: rgb(0, 0, 180);
    width: 45%;
    height: 140%;
    clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}


/* Animation CSS */
/* anim1 */
.parts .leftcali .boxanim{
    position: absolute;
    top: 30rem;
    left: 20rem;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background-color: rgb(102, 102, 250);
}
.parts .leftcali .boxanim img{
    position: absolute;
}
.parts .leftcali .boxanim .scaleanim{
    left: 30px;
    top: 35px;
}
.parts .leftcali .boxanim .nullanim{
    left: 236.9px;
    top: 279.6px;
    animation-name: animate-pop;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim .null2anim{
    left: 236.9px;
    top: 279.6px;
    animation-name: animate-fade;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim .handanim{
    left: 63px;
    top: 233.41px;
    animation-name: drive;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes drive{
    from{ transform: translateX(-100px);}
    to {transform: translateX(0);}
}
@keyframes animate-fade{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes animate-pop{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/*anim2*/
.parts .leftcali .boxanim2{
    position: absolute;
    display: none;
    top: 30rem;
    left: 20rem;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background-color: rgb(102, 102, 250);
}
.parts .leftcali .boxanim2 img{
    position: absolute;
}
.parts .leftcali .boxanim2 .stdm{
    z-index: 1;
    left: 253px;
    top: 60px;
    animation-name: drive2;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim2 .scale2{
    left: 30px;
    top: 77.2px;
}
.parts .leftcali .boxanim2 .null2{
    left: 237px;
    top: 320px;
    animation-name: animate-fade;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim2 .fivem{
    left: 187px;
    top: 310px;
    animation-name: animate-pop;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim2 .read{
    left: 80px;
    top: 500px;
    animation-name: animate-pop;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes drive2{
    from{ transform: translateY(-100px);}
    to {transform: translateY(0);}
}

/* Anim3 */
.parts .leftcali .boxanim3{
    position: absolute;
    display: none;
    top: 30rem;
    left: 20rem;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background-color: rgb(102, 102, 250);
}
.parts .leftcali .boxanim3 img{
    position: absolute;
}
.parts .leftcali .boxanim3 .stdm3{
    z-index: 1;
    left: 253px;
    top: 120px;
}
.parts .leftcali .boxanim3 .scale3{
    left: 30px;
    top: 137.2px;
}
.parts .leftcali .boxanim3 .five3{
    left: 187px;
    top: 370px;
}
.parts .leftcali .boxanim3 .hand3{
    left: -70px;
    top: -10px;
    z-index: 2;
    animation-name: animate-pop;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/*anim 4*/
.parts .leftcali .boxanim4{
    position: absolute;
    display: none;
    top: 30rem;
    left: 20rem;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background-color: rgb(102, 102, 250);
}
.parts .leftcali .boxanim4 img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}
.parts .leftcali .boxanim4 .scale4{
    top: 15px;
    left: 15px;
}
.parts .leftcali .boxanim4 .num4{
    top: 350px;
    left: 220px;
    animation-name: animate-pop;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim4 .after30{
    top: 470px;
    left: 110px;
}

/*anim5*/
.parts .leftcali .boxanim5{
    position: absolute;
    display: none;
    top: 30rem;
    left: 20rem;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    background-color: rgb(102, 102, 250);
}
.parts .leftcali .boxanim5 img{
    position: absolute;
    max-width: 65%;
    max-height: 65%;
}
.parts .leftcali .boxanim5 .stdm5{
    top: 10px;
    left: 240px;
    animation-name: drive3;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim5 .scale5{
    top: 62.2px;
    left: 70px;
}
.parts .leftcali .boxanim5 .zero5{
    top: 230px;
    left: 195.45px;
    max-width: 65%;
    max-height: 65%;
    animation-name: animate-pop;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim5 .five5{
    top: 225px;
    left: 150.45px;
    z-index: 1;
    max-width: 65%;
    max-height: 65%;
    animation-name: animate-fade;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.parts .leftcali .boxanim5 .read5{
    top: 400px;
    left: 120px;
}
@keyframes drive3{
    from{ transform: translateX(0px);}
    to {transform: translateX(-300px);}
    0% {opacity: 1;}
    100% {opacity: 0;}
}






.parts .rightcali{
    padding: 2rem;
}
.parts .rightcali .instructions{
    color: red;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.parts .rightcali .instructionpart{
    text-align: justify;
    padding-right: 1rem;
    padding-top: 1rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    position: flex;
    font-size: 1.8rem;
}
.parts .rightcali .instructionpart .ins2{
    display: none;
}
.parts .rightcali .instructionpart .ins3{
    display: none;
}
.parts .rightcali .instructionpart .ins3 .timer{
    display: grid;
    grid-template-columns: repeat(3, 40px);
}
.parts .rightcali .instructionpart .ins3 .timer .timeblock{
    width: 600px;
    height: 1.5rem;
    margin-top: 10px;
    border: solid 1px black;
    border-radius: 15px;
}


.parts .rightcali .instructionpart .ins4{
    display: none;
}
.parts .rightcali .instructionpart .ins5{
    display: none;
}


